
.btn.btn-primary {
  background-color: #3CB371 !important;
}

.btn.btn-sm.btn-blue.float-right {
  background-color: #f57877;
}


ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #3CB371 !important;
}
