<div class="notifications">
    <div *ngFor="let notification of (notifications$ | async)" class="notification">
        <ng-container *ngTemplateOutlet="notificationTpl;context:{notification:notification}"></ng-container>
    </div>
</div>

<ng-template #notificationTpl let-notification="notification">
    <section>
        <div class="square_box box_three"></div>
        <div class="square_box box_four"></div>
        <div class="container mt-5">
            <div class="row">

                <!--
                    SUCCESS NOTIFICATION
                -->
                <div *ngIf="notification.type === notificationTypes.success" class="col-sm-12">
                    <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
                        <button (click)="close(notification)"
                                type="button"
                                class="close font__size-18"
                                data-dismiss="alert"
                        >
                            <span class="sr-only">Close</span>
                        </button>
                        <i class="start-icon far fa-check-circle faa-tada animated"></i>
                        <strong class="font__weight-semibold">Успешно!</strong> {{notification.message}}
                    </div>
                </div>
                <!--
                    END SUCCESS NOTIFICATION
                -->

                <!--
                   ATTENTION NOTIFICATION
               -->
                <div *ngIf="notification.type === notificationTypes.info" class="col-sm-12">
                    <div class="alert fade alert-simple alert-info alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show"
                         role="alert" data-brk-library="component__alert">
                        <button (click)="close(notification)"
                                type="button"
                                class="close font__size-18"
                                data-dismiss="alert"
                        >
									<span aria-hidden="true">
										<i class="fa fa-times blue-cross"></i>
									</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <i class="start-icon  fa fa-info-circle faa-shake animated"></i>
                        <strong class="font__weight-semibold">Обратите внимание!</strong> {{notification.message}}
                        it's not super important.
                    </div>
                </div>
                <!--
                   END ATTENTION NOTIFICATION
               -->

                <!--
                   WARNING NOTIFICATION
               -->
                <div *ngIf="notification.type === notificationTypes.warning" class="col-sm-12">
                    <div class="alert fade alert-simple alert-warning alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show"
                         role="alert" data-brk-library="component__alert">
                        <button (click)="close(notification)"
                                type="button"
                                class="close font__size-18"
                                data-dismiss="alert"
                        >
									<span aria-hidden="true">
										<i class="fa fa-times warning"></i>
									</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <i class="start-icon fa fa-exclamation-triangle faa-flash animated"></i>
                        <strong class="font__weight-semibold">Внимание!</strong> {{notification.message}}
                        looking too good.
                    </div>
                </div>
                <!--
                  END WARNING NOTIFICATION
                -->

                <!--
                  TRY NOTIFICATION
                -->
                <div *ngIf="notification.type === notificationTypes.error" class="col-sm-12">
                    <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show"
                         role="alert" data-brk-library="component__alert">
                        <button (click)="close(notification)"
                                type="button"
                                class="close font__size-18"
                                data-dismiss="alert"
                        >
									<span aria-hidden="true">
										<i class="fa fa-times danger "></i>
									</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <i class="start-icon far fa-times-circle faa-pulse animated"></i>
                        <strong class="font__weight-semibold">{{notification.title}}!</strong> {{notification.message}}
                        submitting again.
                    </div>
                </div>
                <!--
                   END TRY NOTIFICATION
                 -->

            </div>
        </div>
    </section>

</ng-template>


