.navbar-custom {
  background-color: #358dcd;
  color: white;
}
.navbar-custom li a{
  color: white;
}

.logo {
  line-height: 62px;
}

.logo-lg img {
  border-radius: 6px;
}

.logo-sm img {
  border-radius: 6px;
}
