<div class="container-fluid">
    <app-page-title title="Почты" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row mb-2">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-8">
            <div class="text-sm-right">
                <a
                        href="javscript: void(0);"
                        class="btn btn-danger mb-2"
                        id="openAddNewUserModal"
                        (click)="openModal(createEmail)"
                ><i class="mdi mdi-plus-circle mr-1"></i> Добавить почту</a
                >
            </div>
        </div>
        <!-- end col-->
    </div>
    <div class="row">
        <div class="col-xl-12 order-xl-1 order-2">

            <div class="card-box mb-2" [ngClass]="{'bg-soft-success': email.gmailCredentials}"
                 *ngFor="let email of newsEmails$ | async | filter:term">
                <div class="row align-items-center">
                    <div class="col-sm-4">
                        <div class="media">
                            <a *ngIf="email.gmailCredentials;" href="javascript: void(0);"
                               (click)="openInbox(email)"
                            >
                                <img class="d-flex align-self-center mr-3" [src]="getMailImage(email)"
                                     alt="Generic placeholder image" height="64">
                            </a>

                            <img *ngIf="!email.gmailCredentials" class="d-flex align-self-center mr-3"
                                 [src]="getMailImage(email)" alt="Generic placeholder image" height="64">


                            <div class="media-body">
                                <p class="mb-1"><b>Шаблон:</b> {{ email.template}}</p>
                                <p class="mb-0"><b>Подпись:</b> {{ email.signature }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="mb-1 mt-3 mt-sm-0">
                            <i class="mdi mdi-email mr-1"></i>
                            <span *ngIf="email.gmailCredentials" class="authorized-info">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                Авторизовано
              </span>
                            {{ email.email }}
                        </p>
                        <p class="mb-0"><i class="fa fa-hashtag" aria-hidden="true"></i>{{ email.codeword }}</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-right">
                            <a *ngIf="!email.gmailCredentials"
                               href="javascript: void(0);"
                               (click)="gmailAuth(email)"
                               class="btn- btn-xs btn-secondary"
                            >Авторизироваться</a>
                            <a *ngIf="email.gmailCredentials"
                               href="javascript: void(0);"
                               (click)="gmailTokenRevoke(email)"
                               class="btn- btn-xs btn-secondary delete"
                            >Удалить приложение</a>
                        </div>
                    </div> <!-- end col-->
                </div> <!-- end row -->
            </div> <!-- end card-box-->
        </div>
    </div>
</div>


<ng-template #createEmail role="document" let-modal="close">
    <div class="modal-header bg-dark">
        <h4 class="modal-title text-white">Добавить почту</h4>
        <button
                type="button"
                class="close text-white"
                aria-label="Close"
                id="createEmailModal"
                (click)="modal('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-3">
        <div class="text-left">
            <form (ngSubmit)="submitCreateEmailForm()" [formGroup]="createEmailForm">
                <app-ui-preloader [display]="loading$ | async"></app-ui-preloader>
                <ngb-alert type="danger" *ngIf="error$ | async" [dismissible]="false">Пожалуйста, повторите попытку
                </ngb-alert>


                <div class="form-group">
                    <label for="codeword">Кодовое слово</label>
                    <input type="codeword"
                           formControlName="codeword"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && createEmailControls.codeword.errors }"
                           id="codeword"
                           required
                           placeholder="Введите кодовое слово"
                    />
                    <div *ngIf="submitted && createEmailControls.codeword.errors" class="invalid-feedback">
                        <div *ngIf="createEmailControls.codeword.errors.required">Поле кодовое слово обязательно</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Почта</label>
                    <input type="email"
                           formControlName="email"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && createEmailControls.email.errors }"
                           id="email"
                           required
                           placeholder="Введите почту"
                    />
                    <div *ngIf="submitted && createEmailControls.email.errors" class="invalid-feedback">
                        <div *ngIf="createEmailControls.email.errors.required">Поле почты обязательно</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="template">Шаблон</label>
                    <input type="text"
                           formControlName="template"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && createEmailControls.template.errors }"
                           id="template"
                           required
                           placeholder="Введите шаблон"
                    />
                    <div *ngIf="submitted && createEmailControls.template.errors" class="invalid-feedback">
                        <div *ngIf="createEmailControls.template.errors.required">Поле шаблона обязательно</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="signature">Подпись</label>
                    <input type="text"
                           formControlName="signature"
                           class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && createEmailControls.signature.errors }"
                           id="signature"
                           required
                           placeholder="Введите подпись"
                    />
                    <div *ngIf="submitted && createEmailControls.signature.errors" class="invalid-feedback">
                        <div *ngIf="createEmailControls.signature.errors.required">Поле подписи обязательно</div>
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-success">Сохранить</button>
                    <button type="button" class="btn btn-danger ml-1" (click)="modal('close click')">Отменить</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
