<div class="container-fluid">
  <app-page-title title="Opportunities" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-xl-12 order-xl-1 order-2">

      <div class="card-box mb-2" *ngFor="let opportunity of opportunityData | filter:term">
        <div class="row align-items-center">
          <div class="col-sm-4">
            <div class="media">
              <img class="d-flex align-self-center mr-3 rounded-circle" src="{{ opportunity.company }}"
                alt="Generic placeholder image" height="64">
              <div class="media-body">
                <h4 class="mt-0 mb-2 font-16">{{ opportunity.name }}</h4>
                <p class="mb-1"><b>Location:</b> {{ opportunity.location}}</p>
                <p class="mb-0"><b>Category:</b> {{ opportunity.category }}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <p class="mb-1 mt-3 mt-sm-0"><i class="mdi mdi-email mr-1"></i> {{ opportunity.email }}</p>
            <p class="mb-0"><i class="mdi mdi-phone-classic mr-1"></i> {{ opportunity.phone }}</p>
          </div>
          <div class="col-sm-2">
            <div class="text-center mt-3 mt-sm-0">
              <div class="badge font-14 p-1" [ngClass]="{
                'bg-soft-info text-info': opportunity.status === 'Hot',
                'bg-soft-primary text-primary': opportunity.status === 'Cold',
                'bg-soft-warning text-warning': opportunity.status === 'In-progress',
                'bg-soft-danger text-danger': opportunity.status === 'Lost',
                'bg-soft-success text-success': opportunity.status === 'Won'
              }">{{ opportunity.status }}</div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="text-sm-right">
              <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
              <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
            </div>
          </div> <!-- end col-->
        </div> <!-- end row -->
      </div> <!-- end card-box-->
      <div class="text-center my-4">
        <a href="javascript:void(0);" class="text-danger"><i class="mdi mdi-spin mdi-loading mr-1"></i> Load more </a>
      </div>
    </div>
  </div>
</div>
