.text-sm-right a {
  margin-right: 10px;
}

.bg-soft-success {
  background-color: rgba(21, 150, 125, 0.25) !important;
}

.btn-.btn-xs.btn-secondary.delete {
  background-color: #f57877;
}

.btn-.btn-xs.btn-secondary {
  background-color: #228B22;
}

