<div class="container-fluid">
  <app-page-title title="Проекты" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row mb-2">
    <div class="col-sm-4">
      <button type="button"
              (click)="onCreateProject()"
              class="btn btn-danger btn-rounded mb-3"
      >
        <i class="mdi mdi-plus"></i>
        Создать проект
      </button>
    </div>
    <div class="col-sm-8">
      <div class="text-sm-right">
        <div class="btn-group mb-3">
          <button type="button" (click)="order=null" class="btn btn-primary">Все</button>
        </div>
        <div class="btn-group mb-3 ml-1">
          <button type="button" (click)="order='confirmed'" class="btn btn-light">Подтвержденные</button>
          <button type="button" (click)="order='notconfirmed'" class="btn btn-light">На согласовании</button>
        </div>
      </div>
    </div><!-- end col-->
  </div>
  <!-- end row-->

  <div class="row">
    <div class="col-xl-4" *ngFor="let project of projects$ | async | projectStatus:order; index as index">
      <div class="card-box project-box">
        <div class="dropdown float-right" ngbDropdown>
          <a href="javascript: void(0);" class="dropdown-toggle card-drop arrow-none" ngbDropdownToggle aria-expanded="false">
            <i class="mdi mdi-dots-horizontal m-0 text-muted h3"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <a class="dropdown-item"
               (click)="onChange(project?.id)"
               href="javascript: void(0);"
            >Изменить</a>
          </div>
        </div>
        <!-- Title-->
        <h4 class="mt-0"><a href="javascript: void(0);" class="text-dark">{{project?.projectName}}</a></h4>
        <p class="text-muted text-uppercase"><i class="mdi mdi-account-circle"></i> <small>{{project?.clientName}}</small>
        </p>
        <div class="badge bg-soft-success text-success mb-3"
          [ngClass]="{'bg-soft-dark text-dark': project?.isConfirmed}">{{project?.isConfirmed ? 'подтвержден' : 'на согласовании'}}</div>
        <!-- Desc-->
        <p class="text-muted font-13 mb-3 sp-line-2">{{project?.projectTitle}}<a href="javascript:void(0);"
            class="font-weight-bold text-muted">view more</a>
        </p>
        <!-- Task info-->
        <p class="mb-1">
          <span class="pr-2 text-nowrap mb-2 d-inline-block">
            <i class="mdi mdi-format-list-bulleted-type text-muted"></i>
            <b> {{project?.projectHashtags?.length}}</b> Хештеги
          </span>
          <span class="text-nowrap mb-2 d-inline-block">
            <i class="mdi mdi-comment-multiple-outline text-muted"></i>
            <b> {{project?.projectContractors?.length}}</b> Контрагенты
          </span>
        </p>
        <!-- Team-->
        <div class="avatar-group mb-3">

          <a *ngFor="let news of project?.newsInProject" href="javascript: void(0);" class="avatar-group-item">
            <img placement="top"
                 [ngbTooltip]="news?.title"
                 src="{{news?.image}}"
                 class="rounded-circle avatar-sm" alt="news"
            />
          </a>

        </div>
        <!-- Progress-->
        <p class="mb-2 font-weight-bold">Прогресс: <span
            class="float-right">{{project.progress}}</span></p>
        <ngb-progressbar [value]="project.progress" [max]="100" height="7px">
        </ngb-progressbar>


      </div> <!-- end card box-->
    </div><!-- end col-->
  </div>
</div>
