
.btn-danger {
  background-color: #f57877;
}


ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #228B22 !important;
}

.btn.btn-sm.btn-blue.waves-effect.waves-light.float-right {
  background-color: #228B22 !important;
}

.btn.btn-primary {
  background-color: #228B22 !important;
}
