<div class="container-fluid">
    <app-page-title title="Image Crop" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <!-- Row -->
    <div class="row">
        <div class="col-12"><!-- col -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="img-container">
                                <image-cropper
                                        [imageBase64]="defaultImage"
                                        [imageFileChanged]="fileToUpload"
                                        [maintainAspectRatio]="true"
                                        [aspectRatio]="aspectRatio"
                                        [resizeToWidth]="width"
                                        [resizeToHeight]="height"
                                        (imageCropped)="imageCropped($event)">
                                </image-cropper>
                            </div>
                        </div>

                        <div class="col-lg-4">

                            <div class="text-center">
                                <img [src]="croppedImage"/>
                            </div>

                            <div class="text-center mt-2">
                                <button (click)="rotateLeft()" class="btn btn-secondary btn-sm">Rotate left</button>
                                <button (click)="rotateRight()" class="btn btn-secondary btn-sm ml-1">Rotate right
                                </button>
                                <button (click)="flipHorizontal()" class="btn btn-secondary btn-sm ml-1">Flip
                                    horizontal
                                </button>
                                <button (click)="flipVertical()" class="btn btn-secondary btn-sm ml-1">Flip vertical
                                </button>
                            </div>

                            <div class="input-group input-group-sm mt-2">
                              <span class="input-group-prepend">
                                <label class="input-group-text width-xs" for="dataWidth">
                                  Width
                                </label>
                              </span>
                                <input type="text"
                                       [(ngModel)]="width"
                                       class="form-control"
                                       id="dataWidth"
                                       placeholder="width"
                                >
                                <span class="input-group-append">
                                  <span class="input-group-text">
                                    px
                                  </span>
                                </span>
                            </div>

                            <div class="input-group input-group-sm mt-2">
                              <span class="input-group-prepend">
                                <label class="input-group-text width-xs" for="dataHeight">
                                  Height
                                </label>
                              </span>
                                <input type="text"
                                       [(ngModel)]="height"
                                       class="form-control"
                                       id="dataHeight"
                                       placeholder="height"
                                >
                                <span class="input-group-append">
                                  <span class="input-group-text">
                                    px
                                  </span>
                                </span>
                            </div>

                            <div class="btn-group-toggle text-center mt-2" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="radio"
                                           name="options"
                                           id="16:9"
                                           autocomplete="off"
                                           [checked]="aspectRatio == availableRations['16 / 9']"
                                           (click)="changeAspectRatio(availableRations['16 / 9'])"
                                    > 16:9
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio"
                                           name="options"
                                           id="4:3"
                                           autocomplete="off"
                                           [checked]="aspectRatio == availableRations['4 / 3']"
                                           (click)="changeAspectRatio(availableRations['4 / 3'])"
                                    > 4:3
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio"
                                           name="options"
                                           id="1:1"
                                           autocomplete="off"
                                           [checked]="aspectRatio == availableRations['1 / 1']"
                                           (click)="changeAspectRatio(availableRations['1 / 1'])"
                                    > 1:1
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio"
                                           name="options"
                                           id="2:3"
                                           autocomplete="off"
                                           [checked]="aspectRatio == availableRations['2 / 3']"
                                           (click)="changeAspectRatio(availableRations['2 / 3'])"
                                    > 2:3
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio"
                                           name="options"
                                           id="free"
                                           autocomplete="off"
                                           [checked]="aspectRatio == availableRations['free']"
                                           (click)="changeAspectRatio(availableRations['free'])"
                                    > Free
                                </label>
                            </div>

                            <div class="text-center mt-2 btn-holder">
                                <label for="inputImage"
                                       class="btn btn-warning waves-effect waves-light mb-2"
                                >
                                    <i class="mdi mdi-upload"></i>
                                    Загрузить
                                </label>
                                <input type="file"
                                       class="sr-only"
                                       id="inputImage"
                                       name="file"
                                       accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff"
                                       (change)="handleFileInput($event.target.files)"
                                >
                                <button (click)="save()" class="btn btn-success waves-effect waves-light mb-2 mr-1">
                                    <i class="mdi mdi-content-save"></i>
                                    Сохранить
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div><!-- end row -->
</div>
