<div class="container-fluid">
    <app-page-title title="Корзина" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <app-ui-preloader [display]="loading"></app-ui-preloader>
        <!-- Right Sidebar -->
        <div class="col-12" *ngIf="!loading">
            <div class="card-box">
                <!-- Left sidebar -->
                <div class="inbox-leftbar">
                    <app-emaillist></app-emaillist>
                    <!--Leftbar email label and list-->
                </div>
                <!--End Left sidebar -->

                <!--Right Sidebar-->
                <div class="inbox-rightbar">
                    <app-widget (reloadEvent)="this.reload()"
                                (searchEvent)="this.search($event)"
                                [showMoveToTrashButton]="false"
                                [showRemoveButton]="true"
                                [showResetButton]="true"
                    ></app-widget>

                    <!--Button Group-->
                    <div class="mt-3">

                        <ul class="message-list">
                            <a routerLink="/email/read">
                                <li class="unread" *ngFor="let email of tickets$ | async | slice:0:15; let i = index; ">
                                    <div class="col-mail col-mail-1">
                                        <div class="checkbox-wrapper-mail">
                                            <input type="checkbox" id="chk-{{i}}"/>
                                            <label for="chk-{{i}}"></label>
                                        </div>
                                        <span class="star-toggle far fa-star text"></span>
                                        <a href="" class="title">{{email | fromEmail}}</a>
                                    </div>
                                    <div class="col-mail col-mail-2">

                                        <a href="" class="subject">{{email.snippet}}
                                        </a>
                                        <div class="date">{{email.internalDate | date: 'dd/MM/yyyy'}}</div>
                                    </div>
                                </li>
                            </a>
                        </ul>
                    </div>
                    <div class="row justify-content-md-between align-items-md-center">
                        <div class="col-7">
                        </div> <!-- end col-->
                        <div class="col-5">
                            <div class="text-md-right float-md-right mt-2">

<!--                                        <a href="javascript: void(0);"-->
<!--                                           (click)="previous()">-->
<!--                                            Prev-->
<!--                                        </a>-->
                                        <a href="javascript: void(0);"
                                              (click)="next()">
                                            Next
                                        </a>

                                <!--Pagination-->
                            </div>
                        </div> <!-- end col-->
                    </div>
                </div>
                <!--End Right Sidebar-->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
