.btn.btn-secondary {
  background-color: #f99c3d;
  border-color: #f99c3d;
}

.btn.btn-primary.btn-block.mt-3.waves-effect.waves-light.ng-star-inserted {
  background-color: #3CB371 !important;
  border-color: #3CB371;
}

.nav-link.active{
  background-color: #3CB371 !important;
  border-color: #3CB371;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  background-color: #f99c3d;
  border-color: #f99c3d;
}

.bg-dark {
  background-color: #358dcd !important;
}

#edit-client-modal #cancel-new-user-button {
  background-color: #e6665e !important;
  border-color: #e6665e !important;
}


.btn-danger {
  background-color: #e6665e !important;
  border-color: #e6665e !important;
}

#cancel-new-user-button {
  background-color: #e6665e;
  border-color: #e6665e;
}

.news-card {
  width: 350px;
}

.contractors-list span {
  margin-right: 5px;
}
