<div class="container-fluid">
    <app-page-title title="Разгон" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <aw-wizard #wizardForm>

                        <aw-wizard-step (stepEnter)="step = 0" [canExit]="validationForm.valid">
                            <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-4">
                                <li class="nav-item" [awGoToStep]="{stepIndex: 0}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 0}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-account-circle mr-1"></i>
                                        <span class="d-none d-sm-inline">Общее</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 1}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 1}"
                                       class="nav-link rounded-0 pt-2 pb-2 ">
                                        <i class="mdi mdi-face-profile mr-1"></i>
                                        <span class="d-none d-sm-inline">Содержание</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 2}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 2}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                        <span class="d-none d-sm-inline">Распределение</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 3}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 3}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                        <span class="d-none d-sm-inline">Завершение</span>
                                    </a>
                                </li>
                            </ul>
                            <form (ngSubmit)="formSubmit()" [formGroup]="validationForm">
                                <div class="row">
                                    <div class="col-xl-8">

                                        <div class="form-group row mb-3">
                                            <label for="client" class="col-md-3 col-form-label"> Клиент </label>
                                            <div class="col-md-9">
                                                <input type="text"
                                                       id="client"
                                                       placeholder="Введите клиента"
                                                       class="form-control"
                                                       formControlName="client"
                                                       [ngClass]="{'is-invalid': submit && form.client.errors}"
                                                >
                                                <div *ngIf="submit && form.client.errors" class="invalid-feedback">
                                                    <span *ngIf="form.client.errors.required"></span>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label for="project" class="col-md-3 col-form-label"> Название
                                                проекта </label>
                                            <div class="col-md-9">
                                                <input type="text"
                                                       id="project"
                                                       placeholder="Введите название проекта"
                                                       formControlName="project"
                                                       class="form-control"
                                                       [ngClass]="{'is-invalid': submit && form.project.errors}"
                                                >
                                                <div *ngIf="submit && form.project.errors" class="invalid-feedback">
                                                    <span *ngIf="form.project.errors.required"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label for="character" class="col-md-3 col-form-label"> Характер
                                                новости </label>
                                            <div class="col-md-9">
                                                <ng-select
                                                        id="character"
                                                        [items]="characters$ | async"
                                                        bindLabel="character"
                                                        [closeOnSelect]="true"
                                                        placeholder="Выберите характер новости"
                                                        formControlName="nature"
                                                        [ngClass]="{'is-invalid': submit && form.nature.errors}"
                                                ></ng-select>
                                                <div *ngIf="submit && form.nature.errors" class="invalid-feedback">
                                                    <span *ngIf="form.nature.errors.required"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label for="title" class="col-md-3 col-form-label"> Заглавие </label>
                                            <div class="col-md-9">
                                                <input type="text"
                                                       id="title"
                                                       formControlName="title"
                                                       placeholder="Введите заглавие"
                                                       class="form-control"
                                                       [ngClass]="{'is-invalid': submit && form.title.errors}"
                                                >
                                                <div *ngIf="submit && form.title.errors" class="invalid-feedback">
                                                    <span *ngIf="form.title.errors.required"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label for="hashtag" class="col-md-3 col-form-label"> Хештег </label>
                                            <div class="col-md-9">
                                                <ng-select
                                                        id="hashtag"
                                                        [items]="hashtags$ | async"
                                                        bindLabel="name"
                                                        [multiple]="true"
                                                        [closeOnSelect]="false"
                                                        [hideSelected]="true"
                                                        placeholder="Выберите ключевые слова"
                                                        formControlName="hashtags"
                                                        [ngClass]="{'is-invalid': submit && form.hashtags.errors}"
                                                ></ng-select>
                                                <div *ngIf="submit && form.hashtags.errors" class="invalid-feedback">
                                                    <span *ngIf="form.hashtags.errors.required"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label for="format" class="col-md-3 col-form-label"> Формат
                                                размещения </label>
                                            <div class="col-md-9">
                                                <ng-select
                                                        id="format"
                                                        [items]="formats$ | async"
                                                        bindLabel="postFormat"
                                                        [closeOnSelect]="true"
                                                        placeholder="Выберите формат"
                                                        formControlName="format"
                                                        [ngClass]="{'is-invalid': submit && form.format.errors}"
                                                ></ng-select>
                                                <div *ngIf="submit && form.format.errors" class="invalid-feedback">
                                                    <span *ngIf="form.format.errors.required"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label for="method" class="col-md-3 col-form-label"> Метод разгона </label>
                                            <div class="col-md-9">
                                                <ng-select
                                                        id="method"
                                                        [items]="methods$ | async"
                                                        bindLabel="method"
                                                        [closeOnSelect]="true"
                                                        placeholder="Выберите метод"
                                                        formControlName="method"
                                                        [ngClass]="{'is-invalid': submit && form.method.errors}"
                                                ></ng-select>
                                                <div *ngIf="submit && form.method.errors" class="invalid-feedback">
                                                    <span *ngIf="form.method.errors.required"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label for="budget" class="col-md-3 col-form-label"> Бюджет разгона </label>
                                            <div class="col-md-9">
                                                <input type="number"
                                                       id="budget"
                                                       formControlName="budget"
                                                       class="form-control"
                                                       placeholder="Введите бюджет"
                                                       [formControlName]="'budget'"
                                                       [ngClass]="{'is-invalid': submit && form.budget.errors}"
                                                >
                                                <div *ngIf="submit && form.budget.errors" class="invalid-feedback">
                                                    <span *ngIf="form.budget.errors.required"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label for="contractors" class="col-md-3 col-form-label">
                                                Котрагенты </label>
                                            <div class="col-md-9">
                                                <ng-select
                                                        id="contractors"
                                                        [items]="contractors$ | async"
                                                        bindLabel="editorName"
                                                        [multiple]="true"
                                                        [closeOnSelect]="false"
                                                        [hideSelected]="true"
                                                        placeholder="Выберите контрагентов"
                                                        formControlName="contractors"
                                                        [ngClass]="{'is-invalid': submit && form.contractors.errors}"
                                                >
                                                </ng-select>
                                                <div *ngIf="submit && form.contractors.errors" class="invalid-feedback">
                                                    <span *ngIf="form.contractors.errors.required"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div> <!-- end col -->
                                    <div class="col-xl-4">
                                        <div class="card-box">
                                            <div class="widget-chart text-center" dir="ltr">

                                                <apx-chart [chart]="revenueRadialChart.chart"
                                                           [series]="revenueRadialChart.series"
                                                           [plotOptions]="revenueRadialChart.plotOptions"
                                                           [colors]="revenueRadialChart.colors"
                                                           [stroke]="revenueRadialChart.stroke"
                                                ></apx-chart>

                                                <h5 class="text-muted">{{left > 0 ? 'Осталось' : 'Не хватает'}}</h5>
                                                <h2>${{left > 0 ? left : left * -1}}</h2>


                                            </div>
                                        </div> <!-- end card-box -->
                                    </div> <!-- end col-->
                                </div> <!-- end row -->
                                <ul class="list-inline wizard mb-0">
                                    <li class="next list-inline-item float-right">
                                        <button class="btn btn-secondary"
                                                awNextStep
                                                type="submit">Дальше
                                        </button>
                                    </li>
                                </ul>
                            </form>
                        </aw-wizard-step>

                        <aw-wizard-step (stepEnter)="step = 1" awOptionalStep [canEnter]="validationForm.valid">
                            <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-4">
                                <li class="nav-item" [awGoToStep]="{stepIndex: 0}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 0}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-account-circle mr-1"></i>
                                        <span class="d-none d-sm-inline">Общее</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 1}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 1}"
                                       class="nav-link rounded-0 pt-2 pb-2 ">
                                        <i class="mdi mdi-face-profile mr-1"></i>
                                        <span class="d-none d-sm-inline">Содержание</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 2}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 2}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                        <span class="d-none d-sm-inline">Распределение</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 3}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 3}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                        <span class="d-none d-sm-inline">Завершение</span>
                                    </a>
                                </li>
                            </ul>
                            <form (ngSubmit)="profileFormSubmit()" [formGroup]="editorForm">

                                <quill-editor [styles]="{height: '400px', 'margin-bottom': '15px'}"
                                              (onFocus)="focus($event)"
                                              (onEditorChanged)="changedEditor($event)"
                                              (onBlur)="blur($event)"
                                              formControlName="editor"
                                              (onEditorCreated)="created($event)"
                                ></quill-editor>

                                <ul class="list-inline wizard mb-0">
                                    <li class="previous list-inline-item">
                                        <button class="btn btn-secondary"
                                                type="button"
                                                awPreviousStep>Назад
                                        </button>
                                    </li>
                                    <li class="next list-inline-item float-right">
                                        <button class="btn btn-secondary"
                                                awNextStep
                                                type="submit">Дальше
                                        </button>
                                    </li>
                                </ul>
                            </form>
                        </aw-wizard-step>

                        <aw-wizard-step (stepEnter)="step = 2" awOptionalStep [canEnter]="validationForm.valid">
                            <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-4">
                                <li class="nav-item" [awGoToStep]="{stepIndex: 0}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 0}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-account-circle mr-1"></i>
                                        <span class="d-none d-sm-inline">Общее</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 1}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 1}"
                                       class="nav-link rounded-0 pt-2 pb-2 ">
                                        <i class="mdi mdi-face-profile mr-1"></i>
                                        <span class="d-none d-sm-inline">Содержание</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 2}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 2}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                        <span class="d-none d-sm-inline">Распределение</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 3}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 3}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                        <span class="d-none d-sm-inline">Завершение</span>
                                    </a>
                                </li>
                            </ul>
                            <form (ngSubmit)="newsFormSubmit()" [formGroup]="newsForm">
                                <div class="row">

                                    <div class="col-md-6 col-xl-3" *ngFor="let news of newsList; index as index">

                                        <!-- Simple card -->

                                        <div class="card">
                                            <label for="image">
                                                <input type="file"
                                                       id="image"
                                                       class="sr-only"
                                                       alife-file-to-base64
                                                       (onFileChanged)="onImageChange($event, index)"
                                                       (rawFileModelChange)="onImageChange($event, index, true)"
                                                />
                                                <img class="card-img-top img-fluid"
                                                     src="{{news.image.base64}}"
                                                     alt="Card image cap"
                                                >
                                            </label>

                                            <div class="card-body">
                                                <input placeholder="Введите заглавие"
                                                       [id]="'title' + index"
                                                       [formControl]="getControl(index, 'title')"
                                                       style="margin-bottom: 10px"
                                                       class="form-control"
                                                       (change)="updateField(index, 'title')"
                                                >
                                                <ng-select
                                                        id="news-contractors"
                                                        [items]="form.contractors.value || []"
                                                        bindLabel="editorName"
                                                        [multiple]="true"
                                                        [closeOnSelect]="false"
                                                        [hideSelected]="true"
                                                        placeholder="Выберите контрагентов для новости"
                                                        (change)="updateField(index, 'contractors')"
                                                        [formControl]="getControl(index, 'contractors')"
                                                        [ngClass]="{'is-invalid': submit && distributeForm.contractors.errors}"
                                                >
                                                </ng-select>

                                                <a *ngIf="index === newsList.length - 1"
                                                   (click)="addNew()"
                                                   href="javascript: void(0);"
                                                   class="btn btn-primary btn-block mt-3 waves-effect waves-light"
                                                >
                                                    <i class="mdi mdi-plus-circle"></i>
                                                    Добавить вариант
                                                </a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </form>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item">
                                    <button class="btn btn-secondary"
                                            type="button"
                                            awPreviousStep>Назад
                                    </button>
                                </li>
                                <li class="next list-inline-item float-right">
                                    <button class="btn btn-secondary"
                                            awNextStep
                                            type="submit">Дальше
                                    </button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                        <aw-wizard-step (stepEnter)="step = 3" [canEnter]="validationForm.valid">
                            <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-4">
                                <li class="nav-item" [awGoToStep]="{stepIndex: 0}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 0}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-account-circle mr-1"></i>
                                        <span class="d-none d-sm-inline">Общее</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 1}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 1}"
                                       class="nav-link rounded-0 pt-2 pb-2 ">
                                        <i class="mdi mdi-face-profile mr-1"></i>
                                        <span class="d-none d-sm-inline">Содержание</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 2}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 2}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                        <span class="d-none d-sm-inline">Распределение</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 3}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 3}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                        <span class="d-none d-sm-inline">Завершение</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="row">
                                <app-ui-preloader [display]="loading$ | async"></app-ui-preloader>
                                <ngb-alert type="danger" *ngIf="error$ | async" [dismissible]="false">Пожалуйста,
                                    повторите попытку
                                </ngb-alert>
                                <div class="col-12">
                                    <div class="text-center">
                                        <h2 class="mt-0"><i class="mdi mdi-check-all"></i></h2>
                                        <h3 class="mt-0">Thank you !</h3>

                                        <p class="w-75 mb-2 mx-auto">Quisque nec turpis at urna dictum luctus.
                                            Suspendisse convallis
                                            dignissim eros at volutpat. In egestas mattis dui. Aliquam
                                            mattis dictum aliquet.</p>

                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">I agree with the
                                                    Terms and
                                                    Conditions</label>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item">
                                    <button class="btn btn-secondary" awPreviousStep>
                                        Назад
                                    </button>
                                </li>
                                <li class="next list-inline-item float-right">
                                    <button class="btn btn-secondary"
                                            type="submit"
                                            (click)="onSubmit()"
                                    >
                                        {{projectId ? 'Согласовать' : 'Отправить'}}
                                    </button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                    </aw-wizard>
                </div>
            </div>
        </div>

    </div>

</div>