<div class="container-fluid">
    <app-page-title title="Разгон новости" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <aw-wizard #wizardForm>

                        <aw-wizard-step (stepEnter)="step = 0" [canExit]="validationForm.valid">
                            <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-4">
                                <li class="nav-item" [awGoToStep]="{stepIndex: 0}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 0}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-account-circle mr-1"></i>
                                        <span class="d-none d-sm-inline">Общее</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 1}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 1}"
                                       class="nav-link rounded-0 pt-2 pb-2 ">
                                        <i class="mdi mdi-face-profile mr-1"></i>
                                        <span class="d-none d-sm-inline">Содержание</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 2}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 2}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                        <span class="d-none d-sm-inline">Распределение</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 3}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 3}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                        <span class="d-none d-sm-inline">Завершение</span>
                                    </a>
                                </li>
                            </ul>
                            <form (ngSubmit)="formSubmit()" [formGroup]="validationForm">
                                <div class="row">
                                    <div class="col-xl-8">

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label"> Клиент </label>
                                            <div class="col-md-9">
                                                <input type="text"
                                                       class="form-control"
                                                       formControlName="client"
                                                       [ngClass]="{'is-invalid': submit && form.client.errors}"
                                                >
                                                <div *ngIf="submit && form.client.errors" class="invalid-feedback">
                                                    <span *ngIf="form.client.errors.required"></span>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label"> Название проекта </label>
                                            <div class="col-md-9">
                                                <input type="text"
                                                       formControlName="project"
                                                       class="form-control"
                                                       [ngClass]="{'is-invalid': submit && form.project.errors}"
                                                >
                                                <div *ngIf="submit && form.project.errors" class="invalid-feedback">
                                                    <span *ngIf="form.project.errors.required"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label"> Характер новости </label>
                                            <div class="col-md-9">
                                                <ng-select
                                                        [items]="['Стандартная', 'Негативная']"
                                                        [closeOnSelect]="true"
                                                        placeholder="Выберите характер"
                                                        [formControlName]="'nature'"
                                                        [ngClass]="{'is-invalid': submit && form.nature.errors}"
                                                        [(ngModel)]="nature"
                                                ></ng-select>
                                                <div *ngIf="submit && form.nature.errors" class="invalid-feedback">
                                                    <span *ngIf="form.nature.errors.required"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label"> Заглавие </label>
                                            <div class="col-md-9">
                                                <input type="text"
                                                       formControlName="title"
                                                       class="form-control"
                                                       [ngClass]="{'is-invalid': submit && form.title.errors}"
                                                >
                                                <div *ngIf="submit && form.title.errors" class="invalid-feedback">
                                                    <span *ngIf="form.title.errors.required"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label"> Хештег </label>
                                            <div class="col-md-9">
                                                <ng-select
                                                        [items]="['First', 'Last']"
                                                        [multiple]="true"
                                                        [closeOnSelect]="false"
                                                        [hideSelected]="true"
                                                        placeholder="Выберите ключевые слова"
                                                        [formControlName]="'hashtags'"
                                                        [(ngModel)]="hashtag"
                                                        [ngClass]="{'is-invalid': submit && form.hashtags.errors}"
                                                ></ng-select>
                                                <div *ngIf="submit && form.hashtags.errors" class="invalid-feedback">
                                                    <span *ngIf="form.hashtags.errors.required"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label"> Формат размещения </label>
                                            <div class="col-md-9">
                                                <ng-select
                                                        [items]="['Напрямую', 'Баер']"
                                                        [closeOnSelect]="true"
                                                        placeholder="Выберите формат"
                                                        [formControlName]="'format'"
                                                        [(ngModel)]="format"
                                                        [ngClass]="{'is-invalid': submit && form.format.errors}"
                                                ></ng-select>
                                                <div *ngIf="submit && form.format.errors" class="invalid-feedback">
                                                    <span *ngIf="form.format.errors.required"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label"> Метод разгона </label>
                                            <div class="col-md-9">
                                                <ng-select
                                                        [items]="['Напрямую', 'Баер']"
                                                        [closeOnSelect]="true"
                                                        placeholder="Выберите метод"
                                                        [formControlName]="'method'"
                                                        [(ngModel)]="method"
                                                        [ngClass]="{'is-invalid': submit && form.method.errors}"
                                                ></ng-select>
                                                <div *ngIf="submit && form.method.errors" class="invalid-feedback">
                                                    <span *ngIf="form.method.errors.required"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label"> Бюджет разгона </label>
                                            <div class="col-md-9">
                                                <input type="number"
                                                       formControlName="budget"
                                                       class="form-control"
                                                       [formControlName]="'budget'"
                                                       [ngClass]="{'is-invalid': submit && form.budget.errors}"
                                                >
                                                <div *ngIf="submit && form.budget.errors" class="invalid-feedback">
                                                    <span *ngIf="form.budget.errors.required"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            <label class="col-md-3 col-form-label"> Котрагенты </label>
                                            <div class="col-md-9">
                                                <ng-select
                                                        [items]="['Vasya', 'Vova']"
                                                        [multiple]="true"
                                                        [closeOnSelect]="false"
                                                        [hideSelected]="true"
                                                        placeholder="Выберите контрагентов"
                                                        [formControlName]="'contractors'"
                                                        [(ngModel)]="contractor"
                                                        [ngClass]="{'is-invalid': submit && form.contractors.errors}"
                                                >
                                                </ng-select>
                                                <div *ngIf="submit && form.contractors.errors" class="invalid-feedback">
                                                    <span *ngIf="form.contractors.errors.required"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div> <!-- end col -->
                                    <div class="col-xl-4">
                                        <div class="card-box">
                                            <div class="widget-chart text-center" dir="ltr">

                                                <apx-chart [chart]="revenueRadialChart.chart"
                                                           [series]="revenueRadialChart.series"
                                                           [plotOptions]="revenueRadialChart.plotOptions"
                                                           [colors]="revenueRadialChart.colors"
                                                           [stroke]="revenueRadialChart.stroke"
                                                ></apx-chart>
                                                <h5 class="text-muted">Бюджет разгона</h5>
                                                <h2>$178</h2>


                                            </div>
                                        </div> <!-- end card-box -->
                                    </div> <!-- end col-->
                                </div> <!-- end row -->
                                <ul class="list-inline wizard mb-0">
                                    <li class="next list-inline-item float-right">
                                        <button class="btn btn-secondary"
                                                awNextStep
                                                type="submit">Дальше
                                        </button>
                                    </li>
                                </ul>
                            </form>
                        </aw-wizard-step>

                        <aw-wizard-step (stepEnter)="step = 1" awOptionalStep [canEnter]="validationForm.valid">
                            <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-4">
                                <li class="nav-item" [awGoToStep]="{stepIndex: 0}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 0}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-account-circle mr-1"></i>
                                        <span class="d-none d-sm-inline">Общее</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 1}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 1}"
                                       class="nav-link rounded-0 pt-2 pb-2 ">
                                        <i class="mdi mdi-face-profile mr-1"></i>
                                        <span class="d-none d-sm-inline">Содержание</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 2}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 2}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                        <span class="d-none d-sm-inline">Распределение</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 3}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 3}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                        <span class="d-none d-sm-inline">Завершение</span>
                                    </a>
                                </li>
                            </ul>
                            <form (ngSubmit)="profileFormSubmit()" [formGroup]="profileValidationForm">

                                <quill-editor [styles]="{height: '400px', 'margin-bottom': '15px'}"
                                              (onFocus)="focus($event)"
                                              (onEditorChanged)="changedEditor($event)"
                                              (onBlur)="blur($event)"
                                              formControlName="editor"
                                              (onEditorCreated)="created($event)"
                                ></quill-editor>

                                <ul class="list-inline wizard mb-0">
                                    <li class="previous list-inline-item">
                                        <button class="btn btn-secondary"
                                                type="button"
                                                awPreviousStep>Назад
                                        </button>
                                    </li>
                                    <li class="next list-inline-item float-right">
                                        <button class="btn btn-secondary"
                                                awNextStep
                                                type="submit">Дальше
                                        </button>
                                    </li>
                                </ul>
                            </form>
                        </aw-wizard-step>

                        <aw-wizard-step (stepEnter)="step = 2" awOptionalStep [canEnter]="validationForm.valid">
                            <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-4">
                                <li class="nav-item" [awGoToStep]="{stepIndex: 0}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 0}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-account-circle mr-1"></i>
                                        <span class="d-none d-sm-inline">Общее</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 1}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 1}"
                                       class="nav-link rounded-0 pt-2 pb-2 ">
                                        <i class="mdi mdi-face-profile mr-1"></i>
                                        <span class="d-none d-sm-inline">Содержание</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 2}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 2}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                        <span class="d-none d-sm-inline">Распределение</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 3}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 3}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                        <span class="d-none d-sm-inline">Завершение</span>
                                    </a>
                                </li>
                            </ul>
                            <form (ngSubmit)="profileFormSubmit()" [formGroup]="profileValidationForm">

                                <div class="row">
                                    <div class="col-md-6 col-xl-3" *ngFor="let carddata of cardData">

                                        <!-- Simple card -->
                                        <div class="card">
                                            <img class="card-img-top img-fluid" src="{{carddata.image}}" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title" *ngIf="carddata.title">
                                                    {{carddata.title}}
                                                </h5>
                                                <p class="card-text">{{carddata.text}}</p>
                                            </div>
                                            <ul class="list-group list-group-flush" *ngIf="carddata.list">
<!--                                                <ngx-nestable [(list)]="carddata.list"-->
<!--                                                              [options]="options"-->
<!--                                                              [template]="itemTemplateNestable"-->
<!--                                                >-->
<!--                                                </ngx-nestable>-->

<!--                                                <ng-template #itemTemplateNestable let-row>-->
<!--                                                    <li [ngxNestableDragHandle]="row" class="list-group-item">{{row.item.id}}</li>-->
<!--                                                </ng-template>-->
                                            </ul>
                                            <div class="card-body">
                                                <a href="javascript: void(0);" class="card-link">Закрепить</a>
                                                <a href="javascript: void(0);" class="card-link">Открепить</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-inline wizard mb-0">
                                    <li class="previous list-inline-item">
                                        <button class="btn btn-secondary"
                                                type="button"
                                                awPreviousStep>Назад
                                        </button>
                                    </li>
                                    <li class="next list-inline-item float-right">
                                        <button class="btn btn-secondary"
                                                awNextStep
                                                type="submit">Дальше
                                        </button>
                                    </li>
                                </ul>
                            </form>
                        </aw-wizard-step>

                        <aw-wizard-step (stepEnter)="step = 3" [canEnter]="validationForm.valid">
                            <ul class="nav nav-pills bg-light nav-justified form-wizard-header mb-4">
                                <li class="nav-item" [awGoToStep]="{stepIndex: 0}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 0}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-account-circle mr-1"></i>
                                        <span class="d-none d-sm-inline">Общее</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 1}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 1}"
                                       class="nav-link rounded-0 pt-2 pb-2 ">
                                        <i class="mdi mdi-face-profile mr-1"></i>
                                        <span class="d-none d-sm-inline">Содержание</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 2}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 2}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                        <span class="d-none d-sm-inline">Распределение</span>
                                    </a>
                                </li>
                                <li class="nav-item" [awGoToStep]="{stepIndex: 3}">
                                    <a href="javascript: void(0);" data-toggle="tab"
                                       [ngClass]="{'active': step == 3}"
                                       class="nav-link rounded-0 pt-2 pb-2">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>
                                        <span class="d-none d-sm-inline">Завершение</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-center">
                                        <h2 class="mt-0"><i class="mdi mdi-check-all"></i></h2>
                                        <h3 class="mt-0">Thank you !</h3>

                                        <p class="w-75 mb-2 mx-auto">Quisque nec turpis at urna dictum luctus.
                                            Suspendisse convallis
                                            dignissim eros at volutpat. In egestas mattis dui. Aliquam
                                            mattis dictum aliquet.</p>

                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">I agree with the
                                                    Terms and
                                                    Conditions</label>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item">
                                    <button class="btn btn-secondary" awPreviousStep>
                                        Назад
                                    </button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                    </aw-wizard>
                </div>
            </div>
        </div>

    </div>

</div>