.btn.btn-secondary {
  background-color: #f99c3d;
}

.btn.btn-primary.btn-block.mt-3.waves-effect.waves-light.ng-star-inserted {
  background-color: #3CB371 !important;
}

.nav-link.active{
  background-color: #3CB371 !important;
}
