.btn.btn-secondary {
  background-color: #f57877;
}

.btn.btn-primary.btn-block.mt-3.waves-effect.waves-light.ng-star-inserted {
  background-color: #228B22 !important;
}

.nav-link.active{
  background-color: #228B22 !important;
}
