.btn .w-sm .btn-light .waves-effect {
  margin-left: 10px;
}

#side-menu li {
  background-color: #f4f5f7;
  margin: 10px;
  border-radius: 6px;
}


#side-menu li:hover {
  background-color: #358dcd;
}

#side-menu li a:hover {
  color: white;
}

