<!-- ========== Left Sidebar Start ========== -->
<ng-template #contentTemplate>
    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <ul class="metismenu" id="side-menu" #sideMenu>

            <li class="menu-title">Navigation</li>

            <li>
                <a href="javascript: void(0);" class="waves-effect" aria-expanded="false">
                    <i class="fe-airplay"></i>
                    <span class="badge badge-success badge-pill float-right">2</span>
                    <span> Dashboards </span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/dashboards/dashboard-1" routerLinkActive="active" class="side-nav-link-ref">Dashboard 1</a>
                    </li>
                    <li>
                        <a routerLink="/dashboards/dashboard-2" routerLinkActive="active"
                            class="side-nav-link-ref">Dashboard 2</a>
                    </li>
                    <li>
                        <a routerLink="/dashboards/dashboard-3" routerLinkActive="active"
                            class="side-nav-link-ref">Dashboard 3</a>
                    </li>
                    <li>
                        <a routerLink="/dashboards/dashboard-4" routerLinkActive="active"
                            class="side-nav-link-ref">Dashboard 4</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="fe-pocket"></i>
                    <span> Apps </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/apps/kanbanboard" routerLinkActive="active" class="side-nav-link-ref">Kanban
                            Board</a>
                    </li>
                    <li>
                        <a routerLink="/apps/calendar" routerLinkActive="active" class="side-nav-link-ref">Calendar</a>
                    </li>
                    <li>
                        <a routerLink="/apps/contacts" routerLinkActive="active" class="side-nav-link-ref">Contacts</a>
                    </li>
                    <li>
                        <a routerLink="/apps/projects" routerLinkActive="active" class="side-nav-link-ref">Projects</a>
                    </li>
                    <li>
                        <a routerLink="/apps/tickets" routerLinkActive="active" class="side-nav-link-ref">Tickets</a>
                    </li>
                    <li>
                        <a routerLink="/apps/companies" routerLinkActive="active"
                            class="side-nav-link-ref">Companies</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="fe-users"></i>
                    <span> CRM </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/crm/dashboard" routerLinkActive="active" class="side-nav-link-ref">Dashboard</a>
                    </li>
                    <li>
                        <a routerLink="/crm/contacts" routerLinkActive="active" class="side-nav-link-ref">Contacts</a>
                    </li>
                    <li>
                        <a routerLink="/crm/opportunities" routerLinkActive="active"
                            class="side-nav-link-ref">Opportunities</a>
                    </li>
                    <li>
                        <a routerLink="/crm/leads" routerLinkActive="active" class="side-nav-link-ref">Leads</a>
                    </li>
                    <li>
                        <a routerLink="/crm/customers" routerLinkActive="active" class="side-nav-link-ref">Customers</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="fe-shopping-cart"></i>
                    <span> eCommerce </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/ecommerce/ecommerce-dashboard" routerLinkActive="active"
                            class="side-nav-link-ref">Dashboard</a>
                    </li>
                    <li>
                        <a routerLink="/ecommerce/products" routerLinkActive="active"
                            class="side-nav-link-ref">Products</a>
                    </li>
                    <li>
                        <a routerLink="/ecommerce/product-detail" routerLinkActive="active"
                            class="side-nav-link-ref">Product Detail</a>
                    </li>
                    <li>
                        <a routerLink="/ecommerce/product-edit" routerLinkActive="active"
                            class="side-nav-link-ref">Product Edit</a>
                    </li>
                    <li>
                        <a routerLink="/ecommerce/orders" routerLinkActive="active" class="side-nav-link-ref">Orders</a>
                    </li>
                    <li>
                        <a routerLink="/ecommerce/sellers" routerLinkActive="active"
                            class="side-nav-link-ref">Sellers</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="fe-sidebar"></i>
                    <span class="badge badge-pink float-right">New</span>
                    <span> Layouts </span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a (click)="smallSidebar()" href="javascript: void(0);" routerLinkActive="active"
                            class="side-nav-link-ref">Small Sidebar</a>
                    </li>
                    <li>
                        <a (click)="darkSidebar()" href="javascript: void(0);" routerLinkActive="active"
                            class="side-nav-link-ref">Dark Sidebar</a>
                    </li>
                    <li>
                        <a (click)="lightTopbar()" href="javascript: void(0);" routerLinkActive="active"
                            class="side-nav-link-ref">Light Topbar</a>
                    </li>
                    <li>
                        <a (click)="sidebarCollapsed()" href="javascript: void(0);" routerLinkActive="active"
                            class="side-nav-link-ref">Sidebar Collapsed</a>
                    </li>
                    <li>
                        <a (click)="boxedLayout()" href="javascript: void(0);" routerLinkActive="active"
                            class="side-nav-link-ref">Boxed</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="fe-mail"></i>
                    <span> Email </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/email/inbox" routerLinkActive="active" class="side-nav-link-ref">Inbox</a>
                    </li>
                    <li>
                        <a routerLink="/email/read" routerLinkActive="active" class="side-nav-link-ref">Read Email</a>
                    </li>
                    <li>
                        <a routerLink="/email/compose" routerLinkActive="active" class="side-nav-link-ref">Compose
                            Email</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="fe-file-text"></i>
                    <span> Errors </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/error/error-404" routerLinkActive="active" class="side-nav-link-ref">Error
                            404</a>
                    </li>
                    <li>
                        <a routerLink="/error/error-500" routerLinkActive="active" class="side-nav-link-ref">Error
                            500</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="fe-package"></i>
                    <span> Extra Pages </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/extras/profile" routerLinkActive="active" class="side-nav-link-ref">Profile</a>
                    </li>
                    <li>
                        <a routerLink="/extras/timeline" routerLinkActive="active"
                            class="side-nav-link-ref">Timeline</a>
                    </li>
                    <li>
                        <a routerLink="/extras/sitemap" routerLinkActive="active" class="side-nav-link-ref">Sitemap</a>
                    </li>
                    <li>
                        <a routerLink="/extras/invoice" routerLinkActive="active" class="side-nav-link-ref">Invoice</a>
                    </li>
                    <li>
                        <a routerLink="/extras/faqs" routerLinkActive="active" class="side-nav-link-ref">FAQs</a>
                    </li>
                    <li>
                        <a routerLink="/extras/pricing" routerLinkActive="active" class="side-nav-link-ref">Pricing</a>
                    </li>
                    <li>
                        <a routerLink="/extras/gallery" routerLinkActive="active" class="side-nav-link-ref">Gallery</a>
                    </li>
                </ul>
            </li>

            <li class="menu-title mt-2">Components</li>

            <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="fe-briefcase"></i>
                    <span> UI Elements </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/ui/buttons" routerLinkActive="active" class="side-nav-link-ref">Buttons</a>
                    </li>
                    <li>
                        <a routerLink="/ui/cards" routerLinkActive="active" class="side-nav-link-ref">Cards</a>
                    </li>
                    <li>
                        <a routerLink="/ui/portlets" routerLinkActive="active" class="side-nav-link-ref">Portlets</a>
                    </li>
                    <li>
                        <a routerLink="/ui/tabs-accordions" routerLinkActive="active" class="side-nav-link-ref">Tabs &
                            Accordions</a>
                    </li>
                    <li>
                        <a routerLink="/ui/modals" routerLinkActive="active" class="side-nav-link-ref">Modals</a>
                    </li>
                    <li>
                        <a routerLink="/ui/progress" routerLinkActive="active" class="side-nav-link-ref">Progress</a>
                    </li>
                    <li>
                        <a routerLink="/ui/notifications" routerLinkActive="active"
                            class="side-nav-link-ref">Notifications</a>
                    </li>
                    <li>
                        <a routerLink="/ui/spinners" routerLinkActive="active" class="side-nav-link-ref">Spinners</a>
                    </li>
                    <li>
                        <a routerLink="/ui/images" routerLinkActive="active" class="side-nav-link-ref">Images</a>
                    </li>
                    <li>
                        <a routerLink="/ui/carousel" routerLinkActive="active" class="side-nav-link-ref">Carousel</a>
                    </li>
                    <li>
                        <a routerLink="/ui/video" routerLinkActive="active" class="side-nav-link-ref">Embed Video</a>
                    </li>
                    <li>
                        <a routerLink="/ui/dropdowns" routerLinkActive="active" class="side-nav-link-ref">Dropdowns</a>
                    </li>
                    <li>
                        <a routerLink="/ui/ribbons" routerLinkActive="active" class="side-nav-link-ref">Ribbons</a>
                    </li>
                    <li>
                        <a routerLink="/ui/tooltips-popovers" routerLinkActive="active"
                            class="side-nav-link-ref">Tooltips & Popovers</a>
                    </li>
                    <li>
                        <a routerLink="/ui/ui-general" routerLinkActive="active" class="side-nav-link-ref">General
                            UI</a>
                    </li>
                    <li>
                        <a routerLink="/ui/typography" routerLinkActive="active"
                            class="side-nav-link-ref">Typography</a>
                    </li>
                    <li>
                        <a routerLink="/ui/grid" routerLinkActive="active" class="side-nav-link-ref">Grid</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="fe-layers"></i>
                    <span class="badge badge-info float-right">Hot</span>
                    <span> Admin UI </span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/adminUI/widgets" routerLinkActive="active" class="side-nav-link-ref">Widgets</a>
                    </li>
                    <li>
                        <a routerLink="/adminUI/range-slider" routerLinkActive="active" class="side-nav-link-ref">Range
                            Slider</a>
                    </li>
                    <li>
                        <a routerLink="/adminUI/animation" routerLinkActive="active"
                            class="side-nav-link-ref">Animation</a>
                    </li>
                    <li>
                        <a routerLink="/adminUI/sweet-alert" routerLinkActive="active" class="side-nav-link-ref">Sweet
                            Alert</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="fe-cpu"></i>
                    <span> Icons </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/icons/feather" routerLinkActive="active" class="side-nav-link-ref">Feather
                            Icons</a>
                    </li>
                    <li>
                        <a routerLink="/icons/material" routerLinkActive="active" class="side-nav-link-ref">Material
                            Design Icons</a>
                    </li>
                    <li>
                        <a routerLink="/icons/dripicons" routerLinkActive="active"
                            class="side-nav-link-ref">Dripicons</a>
                    </li>
                    <li>
                        <a routerLink="/icons/fontawesome" routerLinkActive="active" class="side-nav-link-ref">Font
                            Awesome</a>
                    </li>
                    <li>
                        <a routerLink="/icons/themify" routerLinkActive="active" class="side-nav-link-ref">Themify</a>
                    </li>
                    <li>
                        <a routerLink="/icons/simpleline" routerLinkActive="active" class="side-nav-link-ref">Simple
                            Line</a>
                    </li>
                    <li>
                        <a routerLink="/icons/weather" routerLinkActive="active" class="side-nav-link-ref">Weather</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="fe-bookmark"></i>
                    <span> Forms </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/form/elements" routerLinkActive="active" class="side-nav-link-ref">General
                            Elements</a>
                    </li>
                    <li>
                        <a routerLink="/form/advanced" routerLinkActive="active" class="side-nav-link-ref">Advanced</a>
                    </li>
                    <li>
                        <a routerLink="/form/validation" routerLinkActive="active"
                            class="side-nav-link-ref">Validation</a>
                    </li>
                    <li>
                        <a routerLink="/form/wizard" routerLinkActive="active" class="side-nav-link-ref">Wizard</a>
                    </li>
                    <li>
                        <a routerLink="/form/summernote" routerLinkActive="active"
                            class="side-nav-link-ref">Summernote</a>
                    </li>
                    <li>
                        <a routerLink="/form/uploads" routerLinkActive="active" class="side-nav-link-ref">File
                            Uploads</a>
                    </li>
                    <li>
                        <a routerLink="/form/image-crop" routerLinkActive="active" class="side-nav-link-ref">Image
                            Crop</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="fe-grid"></i>
                    <span> Tables </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/tables/basic" routerLinkActive="active" class="side-nav-link-ref">Basic
                            Tables</a>
                    </li>
                    <li>
                        <a routerLink="/tables/advanced" routerLinkActive="active" class="side-nav-link-ref">Advanced
                            Table</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="fe-bar-chart-2"></i>
                    <span> Charts </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/chart/apex" routerLinkActive="active" class="side-nav-link-ref">Apex Charts</a>
                    </li>
                    <li>
                        <a routerLink="/chart/chartjs" routerLinkActive="active" class="side-nav-link-ref">Chartjs
                            Charts</a>
                    </li>
                    <li>
                        <a routerLink="/chart/chartist" routerLinkActive="active" class="side-nav-link-ref">Chartist
                            Charts</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="fe-map"></i>
                    <span> Maps </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/maps/google" routerLinkActive="active" class="side-nav-link-ref">Google Maps</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="fe-folder-plus"></i>
                    <span> Multi Level </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level nav collapse" aria-expanded="false">
                    <li>
                        <a href="javascript: void(0);">Level 1.1</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);" aria-expanded="false">Level 1.2
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-third-level nav" aria-expanded="false">
                            <li>
                                <a href="javascript: void(0);">Level 2.1</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Level 2.2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>
</ng-template>


<div class="left-side-menu">
    <div class="slimscroll-menu" appSlimScroll *ngIf="!isCondensed">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>

    <div class="slimscroll-menu" *ngIf="isCondensed">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
</div>
<!-- Left Sidebar End -->