<!-- ========== Left Sidebar Start ========== -->
<ng-template #contentTemplate>
  <!--- Sidemenu -->
  <div id="sidebar-menu">
    <ul class="metismenu" id="side-menu" #sideMenu>

      <li>
        <a routerLink="/crm/users" routerLinkActive="active" class="side-nav-link-ref">
          <i class="fe-users"></i>
          <span> Пользователи </span>
        </a>
      </li>

      <li>
        <a routerLink="/crm/contractors" routerLinkActive="active" class="side-nav-link-ref">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          <span> Контрагенты </span>
        </a>
      </li>

      <li>
        <a routerLink="/crm/burst-news" routerLinkActive="active" class="side-nav-link-ref">
          <i class="fe-trending-up"></i>
          <span> Разгон </span>
        </a>
      </li>

      <li>
        <a routerLink="/crm/projects" routerLinkActive="active" class="side-nav-link-ref">
          <i class="fe-folder-minus"></i>
          <span> Проекты </span>
        </a>
      </li>

      <li>
        <a routerLink="/email" routerLinkActive="active" class="side-nav-link-ref">
          <i class="fe-mail"></i>
          <span> Почты </span>
        </a>
      </li>

      <li>
        <a routerLink="/crm/reports" routerLinkActive="active" class="side-nav-link-ref">
          <i class="fas fa-chart-line" aria-hidden="true"></i>
          <span> Отчёты </span>
        </a>
      </li>

      <li>
        <a routerLink="/crm/clients" routerLinkActive="active" class="side-nav-link-ref">
          <i class="fas fa-users" aria-hidden="true"></i>
          <span> Клиенты </span>
        </a>
      </li>

      <li>
        <a routerLink="/crm/publications" routerLinkActive="active" class="side-nav-link-ref">
          <i class="fas fa-file-alt" aria-hidden="true"></i>
          <span> Публикации </span>
        </a>
      </li>
    </ul>
  </div>
  <!-- End Sidebar -->

  <div class="clearfix"></div>
</ng-template>

<div class="left-side-menu">
  <div class="slimscroll-menu" appSlimScroll *ngIf="!isCondensed">
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </div>

  <div class="slimscroll-menu" *ngIf="isCondensed">
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </div>
</div>
<!-- Left Sidebar End -->
