<!-- List  -->
<div class="mail-list" *ngFor="let list of emailList">
  <a
          href="javascript: void(0);"
          class="list-group-item border-0"
          [ngClass]="{ 'text-danger font-weight-bold': list.text === 'danger' }"
  >
    <i class="{{ list.icon }} font-18 align-middle mr-2"></i>{{ list.label }}
  </a>
</div>

<!-- Label -->
<h6 class="mt-4">Labels</h6>
<div class="list-group b-0 mail-list" *ngFor="let label of labels$ | async | labelFilter">
  <a href="javascript: void(0);" class="list-group-item border-0"
    ><span class="mdi mdi-circle text-{{ label.name }} mr-2"></span>{{ label.name }}</a
  >
</div>
<!-- End label -->
