<div class="container-fluid">
    <app-page-title title="Входящие" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <app-ui-preloader [display]="loading"></app-ui-preloader>

        <div class="col-12">
            <div class="card-box">
                <!-- Left sidebar -->
                <div class="inbox-leftbar">

                    <app-emaillist></app-emaillist><!--Leftbar emaillist and label -->
                </div>
                <!-- End Left sidebar -->

                <div class="inbox-rightbar">
                    <div class="mt-4">
                        <h5 class="font-18">{{(email$ | async)?.subject}}</h5>

                        <hr/>

                        <div class="media mb-4 mt-1">
                            <div class="media-body">
                                <span class="float-right">{{(email$ | async)?.date}}</span>
                                <small class="text-muted">{{(email$ | async)?.from}}</small>
                            </div>
                        </div>


                        <div [innerHTML]="(email$ | async)?.html || (email$ | async)?.snippet"></div>

                        <hr/>

                        <h6><i class="fa fa-paperclip mb-2"></i> Attachments <span>(3)</span></h6>

                        <div class="row">
                            <div class="col-sm-2">
                                <a href="javascript: void(0)"> <img src="assets/images/attached-files/img-1.jpg"
                                                                    alt="attachment"
                                                                    class="img-thumbnail img-responsive"> </a>
                            </div>
                            <div class="col-sm-2 mt-3 mt-sm-0">
                                <a href="javascript: void(0)"> <img src="assets/images/attached-files/img-2.jpg"
                                                                    alt="attachment"
                                                                    class="img-thumbnail img-responsive"> </a>
                            </div>
                            <div class="col-sm-2 mt-3 mt-sm-0">
                                <a href="javascript: void(0)"> <img src="assets/images/attached-files/img-3.jpg"
                                                                    alt="attachment"
                                                                    class="img-thumbnail img-responsive"> </a>
                            </div>
                        </div>
                        <a href="https://dribbble.com/BalkanBrothers" target="_blank" class="text-muted font-13"><i>images
                            used</i></a>

                    </div>
                </div>
                <!-- end inbox-rightbar-->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
