<div class="container-fluid">
    <app-page-title title="Входящие" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <app-ui-preloader [display]="loading"></app-ui-preloader>

        <div class="col-12">
            <div class="card-box">
                <!-- Left sidebar -->
                <div class="inbox-leftbar">

                    <app-emaillist></app-emaillist><!--Leftbar emaillist and label -->
                </div>
                <!-- End Left sidebar -->

                <div class="inbox-rightbar">
                    <div class="mt-4">
                        <h5 class="font-18">{{(email$ | async)?.subject}}</h5>

                        <hr/>

                        <div class="media mb-4 mt-1">
                            <div class="media-body">
                                <span class="float-right">{{(email$ | async)?.date}}</span>
                                <small class="text-muted">{{(email$ | async)?.from}}</small>
                            </div>
                        </div>


                        <div [innerHTML]="(email$ | async)?.html || (email$ | async)?.snippet"></div>

                        <hr/>

                        <h6 *ngIf="(email$ | async)?.attachments?.length"><i class="fa fa-paperclip mb-2"></i> Вложения <span>({{(email$ | async)?.attachments?.length}})</span></h6>

                        <div class="row" *ngIf="(email$ | async)?.attachments?.length">
                            <div *ngFor="let attachment of (email$ | async)?.attachments" class="col-sm-2">
                                <a (click)="downloadAttachment(attachment)" href="javascript: void(0)">
                                    <img src="assets/images/attached-files/img-1.jpg" [alt]="attachment.name" class="img-thumbnail img-responsive">
                                    <i>{{attachment.name}} ({{bytesToSize(attachment.size)}})</i>
                                </a>
                            </div>
                        </div>
                        <a href="javascript: void(0)" class="text-muted font-13"><i>Нажмите на вложение для загрузки</i></a>

                    </div>
                </div>
                <!-- end inbox-rightbar-->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
