<div class="container-fluid">
    <app-page-title title="Пользователи" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <app-ui-preloader [display]="loading$ | async"></app-ui-preloader>

        <div [ngClass]="{'col-xl-8': (selectedUser$ | async), 'col-xl-12': !(selectedUser$ | async)}">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <form class="form-inline">
                                <div class="form-group mb-2">
                                    <label class="sr-only">Поиск</label>
                                    <input class="form-control" name="search" placeholder="Поиск..."
                                           [(ngModel)]="term"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-right">
                                <a
                                        href="javscript: void(0);"
                                        class="btn btn-danger mb-2"
                                        id="openAddNewUserModal"
                                        (click)="openModal(content)"
                                ><i class="mdi mdi-plus-circle mr-1"></i> Добавить пользователя</a
                                >
                            </div>
                        </div>
                        <!-- end col-->
                    </div>

                    <div class="table-responsive">
                        <table class="table table-centered table-hover mb-0">
                            <thead>
                            <tr>
                                <th>Имя</th>
                                <th>Фамилия</th>
                                <th>Email</th>
                                <th>Роль</th>
                                <th>Подтвержден</th>
                                <th>Статус</th>
                                <th *ngIf="currentUser?.groupsCascadeDown?.length">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let user of users$ | async | filter: term" (click)="selectUser(user)">
                                <td class="table-user">
                                    <img [src]="user?.avatar" alt="table-user" class="mr-2 rounded-circle"/>
                                    <a href="javascript:void(0);" class="text-body font-weight-semibold">
                                        {{ user?.firstName }}
                                    </a>
                                </td>
                                <td>
                                    {{ user?.lastName }}
                                </td>
                                <td>
                                    {{ user?.email }}
                                </td>
                                <td>
                    <span
                            *ngFor="let group of user.groups"
                            class="badge text-success"
                            [ngClass]="{
                        'text-success bg-soft-success': belongToManage(user),
                        'bg-soft-warning text-warning': !belongToManage(user)
                      }"
                    >
                      {{ group.name }}
                    </span>
                                </td>
                                <td>
                                    <span *ngIf="user?.isConfirmed" class="badge bg-soft-success text-success">Да</span>
                                    <span *ngIf="!user?.isConfirmed"
                                          class="badge bg-soft-warning text-muted">Нет</span>
                                </td>
                                <td>
                                    <span *ngIf="user?.isActive"
                                          class="badge bg-soft-success text-success">Онлайн</span>
                                    <span *ngIf="!user?.isActive"
                                          class="badge bg-soft-warning text-muted">Оффлайн</span>
                                </td>
                                <td>
                                    <div
                                            *ngIf="currentUser?.groupsCascadeDown?.length"
                                            class="dropdown"
                                            placement="top-left"
                                            ngbDropdown
                                    >
                                        <a
                                                href="javascript:void(0);"
                                                id="dropdownMenuLink"
                                                ngbDropdownToggle
                                                autoClose
                                                class="action-icon"
                                        >
                                            <i class="mdi mdi-square-edit-outline"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" ngbDropdownMenu>
                                            <a
                                                    *ngFor="let group of currentUser.groupsCascadeDown"
                                                    class="dropdown-item"
                                                    (click)="updateGroup(user, group)"
                                                    href="javascript: void(0);"
                                            >{{ group }}</a
                                            >
                                        </div>
                                    </div>

                                    <a *ngIf="manage" (click)="delete(user)" href="javascript:void(0);"
                                       class="action-icon">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination pagination-rounded justify-content-end my-2">
                        <ngb-pagination
                                (pageChange)="onPageChange($event)"
                                [pageSize]="pageSize$ | async"
                                [page]="page$ | async"
                                [collectionSize]="totalSize$ | async"
                        ></ngb-pagination>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-4" *ngIf="(selectedUser$ | async)">
            <div class="card-box">
                <div class="media mb-3">
                    <img
                            class="d-flex mr-3 rounded-circle avatar-lg"
                            [src]="(selectedUser$ | async)?.avatar"
                            alt="Generic placeholder image"
                    />
                    <div class="media-body">
                        <h4 class="mt-0 mb-1">{{ (selectedUser$ | async)?.firstName }} {{ (selectedUser$ | async)?.lastName }}</h4>
                        <p class="text-muted" *ngIf="(selectedUser$ | async)?.isSuperuser">Суперпользователь</p>
                        <p class="text-muted" *ngIf="(selectedUser$ | async)?.isStaff">Администратор</p>
                        <p *ngFor="let group of (selectedUser$ | async)?.groups" class="text-muted">
                            {{ group.name }}
                        </p>
                    </div>
                </div>

                <h4 class="font-13 text-uppercase">Обо мнe :</h4>

                <p class="text-muted mb-2 font-13">
                    <strong>Дата регистрации :</strong
                    ><span class="ml-2">
            {{ (selectedUser$ | async)?.dateJoined | date: 'medium' }}
          </span>
                </p>

                <p class="text-muted mb-2 font-13">
                    <strong>Последние обновления :</strong
                    ><span class="ml-2">
            {{ (selectedUser$ | async)?.dateUpdated | date: 'medium' }}
          </span>
                </p>

                <p class="text-muted mb-2 font-13">
                    <strong>Email :</strong>
                    <span class="ml-2">
            {{ (selectedUser$ | async)?.email }}
          </span>
                </p>
            </div>
            <!-- end card-box-->
        </div>
    </div>
</div>

<!-- users model  -->
<ng-template #content role="document" let-modal="close">
    <div class="modal-header bg-dark" id="add-new-user-modal">
        <h4 class="modal-title text-white">Добавить пользователя</h4>
        <button
                type="button"
                class="close text-white"
                aria-label="Close"
                id="closeAddNewUserModal"
                (click)="modal('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-3">
        <div class="text-left">
            <form (ngSubmit)="registerNewUser()" [formGroup]="validationform">
                <div class="form-group mb-3">
                    <label for="email">Email</label>
                    <input class="form-control"
                           id="email"
                           placeholder="Введите email"
                           [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                           formControlName="email"
                    />
                    <div *ngIf="submitted && f.email.errors" style="display: block" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Почта обязательна</div>
                        <div *ngIf="f.email.errors.email">Почта должна быть валидна</div>
                    </div>
                </div>

                <div class="form-group">
                    <fieldset class="form-group">
                        <label>Роль</label>
                        <ng-select
                                [items]="selectValue"
                                [(ngModel)]="selectedRole"
                                [ngModelOptions]="{ standalone: true }"
                                placeholder="Выберите роль"
                                required
                        ></ng-select>
                        <div *ngIf="submitted && !selectedRole" style="display: block" class="invalid-feedback">
                            <div *ngIf="!selectedRole">Роль обязательна</div>
                        </div>
                    </fieldset>
                </div>

                <div class="text-right">
                    <button type="submit" id="save-new-user-button" class="btn btn-success">Добавить</button>
                    <button type="button" id="cancel-new-user-button" class="btn btn-danger ml-1"
                            (click)="modal('close click')">
                        Отменить
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
