<div class="container-fluid">
  <app-page-title title="Dashboard 2" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <ng-template [ngTemplateOutlet]="WidgetData" [ngTemplateOutletContext]="{widget: widget}"
      *ngFor="let widget of widget"></ng-template>
  </div>

  <div class="row">
    <div class="col-xl-4">
      <app-portlet title="Lifetime Sales" color="white" headerClass="title header-title border-0 my-1"
        (onContentRefresh)="contentRefresh()">
        <div class="card-body text-center pt-0">
          <!-- Lifetime Sales area chart-->
          <apx-chart [series]="lifetimeSalesAreaChart.series" [chart]="lifetimeSalesAreaChart"
            [tooltip]="lifetimeSalesAreaChart.tooltip" [stroke]="lifetimeSalesAreaChart.stroke"
            [dataLabels]="lifetimeSalesAreaChart.dataLabels" [legend]="lifetimeSalesAreaChart.legend"
            [grid]="lifetimeSalesAreaChart.grid" [xaxis]="lifetimeSalesAreaChart.xaxis"
            [colors]="lifetimeSalesAreaChart.colors">
          </apx-chart>
          <!-- end Lifetime Sales chart-->

          <div class="row mt-3">
            <div class="col-4">
              <p class="text-muted font-15 mb-1 text-truncate">Target</p>
              <h4><i class="fe-arrow-down text-danger mr-1"></i>$7.8k</h4>
            </div>
            <div class="col-4">
              <p class="text-muted font-15 mb-1 text-truncate">Last week</p>
              <h4><i class="fe-arrow-up text-success mr-1"></i>$1.4k</h4>
            </div>
            <div class="col-4">
              <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>
              <h4><i class="fe-arrow-down text-danger mr-1"></i>$9.8k</h4>
            </div>
          </div> <!-- end row -->

        </div>
      </app-portlet>
    </div>

    <div class="col-xl-4">
      <!-- Portlet card -->
      <app-portlet title="Income Amounts" color="white" headerClass="title header-title border-0 my-1"
        (onContentRefresh)="contentRefresh()">
        <div class="card-body text-center pt-0">
          <!-- Income Amounts area chart-->
          <apx-chart [series]="incomeAmountsLineChart.series" [chart]="incomeAmountsLineChart"
            [tooltip]="incomeAmountsLineChart.tooltip" [stroke]="incomeAmountsLineChart.stroke"
            [dataLabels]="incomeAmountsLineChart.dataLabels" [legend]="incomeAmountsLineChart.legend"
            [grid]="incomeAmountsLineChart.grid" [xaxis]="incomeAmountsLineChart.xaxis"
            [colors]="incomeAmountsLineChart.colors">
          </apx-chart>
          <!-- end Income Amounts chart-->

          <div class="row mt-3">
            <div class="col-4">
              <p class="text-muted font-15 mb-1 text-truncate">Target</p>
              <h4><i class="fe-arrow-up text-success mr-1"></i>641</h4>
            </div>
            <div class="col-4">
              <p class="text-muted font-15 mb-1 text-truncate">Last week</p>
              <h4><i class="fe-arrow-down text-danger mr-1"></i>234</h4>
            </div>
            <div class="col-4">
              <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>
              <h4><i class="fe-arrow-up text-success mr-1"></i>3201</h4>
            </div>
          </div> <!-- end row -->

        </div>
      </app-portlet>

    </div>

    <div class="col-xl-4">
      <!-- Portlet card -->
      <app-portlet title="Total Users" color="white" headerClass="title header-title border-0 my-1"
        (onContentRefresh)="contentRefresh()">
        <div class="card-body text-center pt-0">
          <!-- Income Amounts area chart-->
          <apx-chart [series]="totalUsersPieChart.series" [chart]="totalUsersPieChart"
            [colors]="totalUsersPieChart.piechartcolor" [labels]="totalUsersPieChart.labels"
            [dataLabels]="totalUsersPieChart.dataLabels" [tooltip]="totalUsersPieChart.tooltip"
            [legend]="totalUsersPieChart.legend" [plotOptions]="totalUsersPieChart.option"
            [grid]="totalUsersPieChart.grid">
          </apx-chart>
          <!-- end Income Amounts chart-->

          <div class="row mt-3">
            <div class="col-4">
              <p class="text-muted font-15 mb-1 text-truncate">Target</p>
              <h4><i class="fe-arrow-down text-danger mr-1"></i>18k</h4>
            </div>
            <div class="col-4">
              <p class="text-muted font-15 mb-1 text-truncate">Last week</p>
              <h4><i class="fe-arrow-up text-success mr-1"></i>3.25k</h4>
            </div>
            <div class="col-4">
              <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>
              <h4><i class="fe-arrow-up text-success mr-1"></i>28k</h4>
            </div>
          </div> <!-- end row -->

        </div>
      </app-portlet>
    </div>
  </div>

  <div class="row">
    <!-- Table -->
    <div class="col-xl-12">
      <app-portlet title="Top Selling Products" color="white" headerClass="title header-title border-0 mt-1"
        (onContentRefresh)="contentRefresh()">
        <div class="card-body pt-0">
          <div class="table-responsive">
            <table class="table table-hover table-centered mb-0">
              <thead>
                <tr>
                  <th>Product Id</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                  <th>Date</th>
                  <th>Sales</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let sellingData of productData">
                  <td>{{ sellingData.productid }}</td>
                  <td>{{ sellingData.name }}</td>
                  <td>{{ sellingData.price }}</td>
                  <td>{{ sellingData.quantity }}</td>
                  <td>{{ sellingData.amount }}</td>
                  <td>{{ sellingData.date }}</td>
                  <td>{{ sellingData.sales }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </app-portlet>
    </div>
  </div>

</div>

<ng-template #WidgetData let-widget='widget'>
  <div class="col-md-6 col-xl-3">
    <div class="card-box">
      <div class="row">
        <div class="col-6">
          <div class="avatar-sm bg-{{widget.color}} rounded">
            <i class="{{widget.icon}} avatar-title font-22 text-white"></i>
          </div>
        </div>
        <div class="col-6">
          <div class="text-right">
            <h3 class="text-dark my-1"><span [CountTo]="widget.value" [from]="0" [duration]="1">{{widget.value}}</span>
            </h3>
            <p class="text-muted mb-1 text-truncate">{{widget.text}}</p>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <h6 class="text-uppercase">Target <span class="float-right">{{ widget.progressValue }}%</span></h6>
        <ngb-progressbar [type]="widget.color" [value]="widget.progressValue" height="5px" class="m-0">
        </ngb-progressbar>
      </div>
    </div> <!-- end card-box-->
  </div> <!-- end col -->
</ng-template>